@font-face {
    font-family: 'Roboto Mono', monospace;
    src: url('./fonts/RobotoMono-Thin.ttf');
}

*{
    font-family: 'Roboto Mono', monospace;
}

body{
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #fff;
    background: linear-gradient(to right, #76b852, #8dc26f);
}